<ion-view on-swipe-right="wishlist()" on-swipe-left="snap()" style="background: none;">
  <ion-nav-bar class="bar-positive orange-bar">
    <ion-nav-buttons side="left">
      <button class="icondirection wishlistleft" ng-click="wishlist()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
      <h1 class="title" style="text-align: center">Statistics</h1>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="icondirection cameraright" ng-click="snap()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="analyzebg" scroll="true">
    <div class="analyzeitem">
      <div class="textanalyzeline">
        Expenses chart this month
      </div>
      <div>
        <img class="linechart" src="img/chart/expenses-linechart.png"/>
      </div>
    </div>
    <div class="analyzeitem">
      <div class="textanalyze">
        Percentage per categories
      </div>
      <div>
        <img class="piechart" src="img/chart/expenses-piechart.png" />
      </div>
    </div>
  </ion-content>
</ion-view>
