<ion-view style="background: none">
  <ion-header-bar class="bar-positive orange-bar">
    <h1 class="title" style="text-align: left">Select categories</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        RECENTS
      </div>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-food"></div>
          Food
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-cart"></div>
          Groceries
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-clothes"></div>
            Clothes
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <div class="item item-divider">
        ALL CATEGORIES
      </div>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-clothes"></div>
          Clothes
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-gadget"></div>
          Electronics
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-entertainment"></div>
          Entertainment
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-food"></div>
          Food
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-cart"></div>
          Groceries
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-transportation"></div>
          Transportation
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
    <div class="button button-go" ng-click="reminder()" resize-go resize ng-style="{{style()}}" style="top : {{top1}}px; right: {{right1}}px"></div>
  </ion-content>
</ion-view>
