<ion-view style="background: none">
  <ion-header-bar class="bar-positive orange-bar">
    <h1 class="title" style="text-align: left">Select categories</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        RECENTS
      </div>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-food"></div>
          Food
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-groceries"></div>
          Groceries
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-clothes"></div>
            Clothes
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <div class="item item-divider">
        ALL CATEGORIES
      </div>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-accessories"></div>
          Accessories
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-books"></div>
          Books
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class=" categories category-car"></div>
          Car
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-clothes"></div>
          Clothes
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-computer"></div>
          Computer
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-food"></div>
          Food
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-groceries"></div>
          Groceries
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-handphone"></div>
          Handphne
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-hobbies"></div>
          Hobbies
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-leisure"></div>
          Leisure
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-shoes"></div>
          Shoes
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-stationary"></div>
          Stationary
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-toiletary"></div>
          Toiletary
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-transportation"></div>
          Transportation
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-travel"></div>
          Travel
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-treatment"></div>
          Treatment
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-utilites"></div>
          Utilities
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories category-other"></div>
          Other
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
    <div class="button button-go" ng-click="reminder()" resize-go resize ng-style="{{style()}}" style="top : {{top1}}px; right: {{right1}}px"></div>
  </ion-content>
</ion-view>
