<ion-view on-swipe-right="snap()" on-swipe-left="wishlist()" style="background: none;">
  <!--<ion-header-bar class="bar-positive orange-bar">-->
  <!--<div class="buttons">-->
  <!--<button class="arrowanalyze" ng-click="onSwipeRightAnalyze()"></button>-->
  <!--</div>-->
  <!--<h1 class="title" style="text-align: left">Budget Analysis</h1>-->
  <!--</ion-header-bar>-->
  <ion-nav-bar class="bar-positive orange-bar">
    <ion-nav-buttons side="left">
      <!-- Toggle left side menu -->
      <button class="gtl gtcamera" ng-click="snap()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
      <h1 class="title" style="text-align: center">Expenses</h1>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <!-- Toggle left side menu -->
      <button class="gtr gtwishlist" ng-click="wishlist()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
      <label class="item item-radio" ng-click="expand('expenses1')" id="expenses1">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-clothes"></div>
          Clothes
        </div>
      </label>
      <label class="item item-radio" ng-click="expand('expenses2')" id="expenses2">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-gadget"></div>
          Electronics
        </div>
      </label>
      <label class="item item-radio" ng-click="expand('expenses3')" id="expenses3">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-entertainment"></div>
          Entertainment
        </div>
      </label>
      <label class="item item-radio" ng-click="expand('expenses4')" id="expenses4">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-food"></div>
          Food
        </div>
      </label>
      <label class="item item-radio" ng-click="expand('expenses5')" id="expenses5">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-cart"></div>
          Groceries
        </div>
      </label>
      <label class="item item-radio" ng-click="expand('expenses6')" id="expenses6">
        <input type="radio" name="group">
        <div class="item item-icon-left">
          <div class="categories-transportation"></div>
          Transportation
        </div>
      </label>
    </div>
  </ion-content>
</ion-view>
