<ion-view on-swipe-right="expenses()" on-swipe-left="analyze()" style="background: none;" pukimak>
  <!--<ion-header-bar class="bar-positive orange-bar">-->
  <!--<div class="buttons">-->
  <!--<button class="arrowanalyze" ng-click="onSwipeRightAnalyze()"></button>-->
  <!--</div>-->
  <!--<h1 class="title" style="text-align: left">Budget Analysis</h1>-->
  <!--</ion-header-bar>-->
  <ion-nav-bar class="bar-positive orange-bar">
    <ion-nav-buttons side="left">
      <!-- Toggle left side menu -->
      <button class="gtl gtexpenses" ng-click="expenses()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
      <h1 class="title" style="text-align: center">Wishtlist</h1>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="gtl gtstatistics" ng-click="analyze()"></button>
      <!--<button menu-toggle="right" ng-click="popover.show($event)" class="button button-icon icon ion-search"></button>-->
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <script id="templates/searchwishlist.html" type="text/ng-template">
      <ion-popover-view style="background: none; height: 190px;">
        <ion-content scroll="false">
          <div class="list" style="color: black;">
            <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              Wishlist
            </a>
            <a class="item" ng-click="settings()">
              Settings
            </a>
            <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
              Reset all
            </a>
            <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
              Help & feedback
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    <ion-list>
      <ion-item class="imgwishlist" id = "item1" ng-click="insert('item1')"> <!--class="item-thumbnail-left"-->
        <img src="img/cancel.png"/>
      </ion-item>

      <ion-item class="imgwishlist1"  id = "item2" ng-click="insert('item2')"> <!--class="item-thumbnail-left"-->
      </ion-item>
      <ion-item class="imgwishlist2"  id = "item3" ng-click="insert('item3')"> <!--class="item-thumbnail-left"-->
      </ion-item>
      <ion-item class="imgwishlist"  id = "item4" ng-click="insert('item4')" > <!--class="item-thumbnail-left"-->
      </ion-item>
    </ion-list>
    <div class="button button-add-wishlist" ng-click="addwishlist()" resize-go resize style="top : {{top1}}px; right: {{right1}}px"></div>
  </ion-content>
</ion-view>
