.pane {
  background: url('../img/main.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.snap {
  background: url('../img/snap.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.card, .budget-input {
  overflow: hidden;
  margin: 300px 100px;
  border-radius: 2px;
  background-color: #fff;
}

.price-input {
  overflow: hidden;
  margin: 100px 50px;
  border-radius: 2px;
  background-color: #fff;
}


.bg-transparant {
  background-color: transparent;
}

.input-main {
  font-family: "Roboto";
  font-size: 20px!important;
  text-align: center;
}

.input-price {
  font-family: "Roboto";
  font-size: 30px!important;
  text-align: center;
}

.button.button-main {
  font-family: "Roboto";
  margin-top: 50px;
  width: 130px;
  /*right:0vw;*/
  margin-left:20px;
  background: transparent;
  border-width: 2px;
  border-color: #fb8e27;
  color: #fb8e27;
}

.button-go {
  min-width: 57px;
  min-height: 56px;
  border: none;
  background: url('../img/add.png');
  position: fixed;
  z-index: 999;
}

.button-snap {
  min-width: 42px;
  min-height: 41px;
  border: none;
  background: url('../img/snapicon.png');
  position: fixed;
  top: 550px;
  z-index: 999;
}

