.pane {
  background: url('../img/main.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.snap {
  background: url('../img/snap.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.card, .budget-input {
  overflow: hidden;
  margin: 300px 50px;
  border-radius: 2px;
  background-color: #fff;
}

.price-input {
  overflow: hidden;
  margin: 100px 50px;
  border-radius: 2px;
  background-color: #fff;
}


.bg-transparant {
  background-color: transparent;
}

.label-input {
  border-top: none;
  border-bottom-color: #a59e9d;
  border-bottom-width: thick;
}

.label-input-snap {
  border-top: none;
  border-bottom-color: #a59e9d;
  border-bottom-width: thick;
  background: rgba(0,0,0,0.3);
}



.input-main {
  font-family: "Roboto";
  font-size: 20px!important;
  text-align: center;
  font-weight: bold;
}

.input-price {
  font-family: "Roboto";
  font-size: 30px!important;
  text-align: center;
  font-weight: bold;
  line-height: 22px!important;
  color: white!important;
}

#inputprice::-webkit-input-placeholder { color:white; }

.button.button-main {
  font-family: "Roboto";
  margin-top: 50px;
  width: 130px;
  margin-left: 70px;
  background: #fb8e27;
  border-width: 2px;
  border-color: #fb8e27;
  color: white;
  font-size: 19px;
  font-weight: bold;
}


.button.button-reminder-ok {
  font-family: "Roboto";
  margin-top: 450px;
  width: 130px;
  margin-left: 120px;
  background: #fb8e27;
  border-width: 2px;
  border-color: #fb8e27;
  color: white;
  font-size: 19px;
  font-weight: bold;
}

.button-go-left {
  min-width: 39px;
  min-height: 38px;
  border: none;
  background: url('../img/arrowsnapleft.png') no-repeat;
  position: fixed;
  z-index: 999;
}

.button-go-right {
  min-width: 39px;
  min-height: 38px;
  border: none;
  background: url('../img/arrowsnapright.png') no-repeat;
  position: fixed;
  z-index: 999;
}

.button-go {
  min-width: 57px;
  min-height: 56px;
  border: none;
  border-radius: 50%;
  background: url('../img/add.png');
  position: fixed;
  z-index: 999;
}

.button-add-wishlist {
  min-width: 61px;
  min-height: 59px;
  border: none;
  border-radius: 50%;
  background: url('../img/addblue.png');
  position: fixed;
  z-index: 999;
}


.button-ok-blue {
  min-width: 61px;
  min-height: 59px;
  border: none;
  border-radius: 50%;
  background: url('../img/okblue.png');
  position: fixed;
  z-index: 999;
}

.button-snap {
  min-width: 42px;
  min-height: 41px;
  border: none;
  border-radius: 50%;
  background: url('../img/snapicon.png');
  position: fixed;
  top: 550px;
  z-index: 999;
}

.orange-bar {
  background-color: #fb8e27!important;
  border-color: #fb8e27 !important;
}

.arrow_left {
  background: url('../img/arrow_left.png');
  width: 18px;
  height: 17px;
  margin-top: 6px;
  border: none;
  margin-left: 10px;
}

.arrow_right {
  background: url('../img/arrow_right.png');
  width: 18px;
  height: 17px;
  margin-top: 6px;
  border: none;
  margin-left: 10px;
}

.gtl {
  margin-left: 10px;
}

.gtwishlist {
  background: url('../img/iconwishlist.png') no-repeat;
  width: 44px;
  height: 44px;
  margin-top: 0px;
  border: none;
  zoom: 70%;
}

.gtr {
  margin-right: 10px;
}

.gtstatistics {
  background: url('../img/iconstatistics.png') no-repeat;
  width: 44px;
  height: 44px;
  margin-top: 0px;
  border: none;
  zoom: 70%;
}

.gtexpenses {
  background: url('../img/iconexpenses.png') no-repeat;
  width: 44px;
  height: 44px;
  margin-top: 0px;
  border: none;
  zoom: 70%;
}

.gtcamera {
  background: url('../img/iconcamera.png') no-repeat;
  width: 44px;
  height: 44px;
  margin-top: 0px;
  border: none;
  zoom: 70%;
}


.imgwishlist {
  background: url('../img/imgwishlist.png') no-repeat;
  height: 203px;
  width: 100%
}

.addwishlist {
  background: url('../img/addwishlist.png') no-repeat;
  height: 203px;
  width: 100%
}

.categories-food {
  background: url('../img/category_food.png') no-repeat;
  height: 40px;
  width: 51px;
  margin-left: -47px;
  z-index: 999;
  position: absolute;
  margin-top: -9px;
}

.categories-gadget {
  background: url('../img/gadget.png') no-repeat;
  height: 40px;
  width: 51px;
  margin-left: -47px;
  z-index: 999;
  position: absolute;
  margin-top: -9px;
}
.categories-entertainment {
  background: url('../img/entertainment.png') no-repeat;
  height: 40px;
  width: 51px;
  margin-left: -47px;
  z-index: 999;
  position: absolute;
  margin-top: -9px;
}

.categories-clothes {
  background: url('../img/clothes.png') no-repeat;
  height: 40px;
  width: 51px;
  margin-left: -47px;
  z-index: 999;
  position: absolute;
  margin-top: -9px;
}

.categories-cart {
  background: url('../img/cart.png') no-repeat;
  height: 40px;
  width: 51px;
  margin-left: -47px;
  z-index: 999;
  position: absolute;
  margin-top: -9px;
}


.cancel {
  background: url('../img/cancel.png');
  width: 4px;
  height: 13px;
  margin-top: 10px;
  border: none;
  margin-left: 10px;
}


.live-container {
  text-align: center;
  vertical-align: middle;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.live-grab {
  margin-top: 0px;
  border: 1px solid black;
  /*width: auto;*/
  /*height:auto;*/
  /*max-width: 100%;*/
  /*max-height: 40%;*/
  /*min-height: 50px;*/
  height: 640px;
  width: 360px;
}

.reminderbg {
  background: url('../img/reminder.png') no-repeat center center fixed;
}

.budgetbg {
  background: url('../img/budget.png') no-repeat center center fixed;
}

.expensesdetail {
  margin-top: 15px;
  margin-bottom: 15px;
}

.wishlistdetail {
  margin: 15px;
}
